
body{
	height: 0px;
	
}
.navbar-brand{
	height:50px;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 50px;
	margin-top:20px;
	
}
p{
	font-family: Comic Sans MS, cursive, sans-serif;
	font-weight:bold;
	font-size: 15px;
	color: #003F87;	
}
h1{
	font-family: Comic Sans MS, cursive, sans-serif;
	font-weight:bolder;
    color:#8B0000;
    cursor: pointer;
}
h1:hover{
	text-decoration: underline;
}
h3{
    font-family: Comic Sans MS, cursive, sans-serif;
	font-weight:bold;
	color:#8B0000;	
}
.page-scroll{
	margin-top:35px;
	font-family: sans-serif;
	font-size: 20px;
	
}

.page-scroll{
	margin-top:20px;
	font-family: sans-serif;
	font-size: 20px;
	border-radius: 4px;
}
.page-scroll:hover{
	background-color:#009ACD;
	height: 40px;
	box-shadow: 5px 5px 5px black;
}

 .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }

.header1{
	background-color:#00688B;
	}

footer{
background-color: #607B8B;
}
.btn1{
	float: right;
	color: #900;
  	background: #F0E68C;
 	font-weight: bold;
  	border: 1px solid #900;
	border: 3px double #FC6;
  	border-top-color: #FC9;
  	border-left-color: #FC9;
}
.btn1:hover{
	color: #FFF;
  	background:#FFA500;
  	cursor: pointer;
	border-color: #F00 #C30 #C30 #F00;
}
